from flask import Flask, request, jsonify
from flasgger import Swagger

app = Flask(__name__)

# 🔧 Configuración de Swagger
app.config['SWAGGER'] = {
    'title': 'API Asistente Médico Tabancura',
    'uiversion': 3,
    'description': 'Esta API clasifica síntomas y entrega una recomendación médica con agenda.',
    'version': '1.0'
}

swagger = Swagger(app)
